# =============================================
# .dockerignore — ملفات Docker يتجاهلها
# =============================================

# مكتبات Node — هتتثبت جديدة جوا الـ Container
node_modules

# المتغيرات الحساسة — مش هترفعها أبداً
.env

# ملفات الـ Logs — مش محتاجينها
*.log

# ملفات Git
.git
.gitignore

# ملفات التطوير اللي مش محتاجينها في Production
README.md
test-socket.js